h1 {
  text-align: center;
}

p {
  margin: 0; 
}

a {
  color: #333;
  text-decoration: none;
}

form {
  padding: 10px;
  text-align: right;
}

button {
  margin-left: 5px;
  cursor: pointer;
}

.issues-container {
  width: calc(100% - 20px);
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.issues-card {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  box-shadow: 0px 4px 20px 0px rgb(0 0 0 / 15%);
}

.issues-header {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
}

.issues-header img {
  width: 30px;
  margin-right: 10px;
  border-radius: 50%;
}

.issues-labels {
  padding-top: 5px;
}

.issues-labels p {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.issues-labels .label {
  padding: 3px;
  font-size: 10px;
  border-radius: 3px;
}

.issues-labels .label.white {
  color: #FFF;
}

@media only screen and (min-width: 768px) {
  .issues-card {
    width: calc(50% - 30px);
  }
  
  form {
    padding-right: 14px;
  }
} 

@media only screen and (min-width: 992px) {
  .issues-card {
    width: calc(33% - 30px);
  }
  
  form {
    padding-right: 19px;
  }
} 

@media only screen and (min-width: 1200px) {
  .issues-card {
    width: calc(25% - 30px);
  }
  
  form {
    padding-right: 14px;
  }
}